html {
	background-image:url('1.jpg');
}
#mainPhoto {
	float:left;

}
#photo {
	width:200px;
	height:200px;
	margin-left:50px;
	margin-top:50px;
}
#photo1 {
	width:50px;
	height:50px;
	margin-left:-320px;
	margin-top:130px;
}
#photo2 {
	width:50px;
	height:50px;
	float:left;
	margin-left:200px;
	margin-bottom:0px;
}
#photo3 {
	width:60px;
	height:60px;
	float:left;
	margin-left:40px;
	margin-top:-50px;
}
#testBlock {
	color:#00FF00;
	padding:10px;
	margin-left:650px;
    margin-top:0px;
	
}
#h1 {
	text-align:center;
	color:#BC8F8F;
	font-family:Trattatello, fantasy ;
}
#h2 {
	color:#FFFF00;
	float:left;
	text-align:center;
	margin-left:250px;
	margin-top:75px;
	font-family:Trattatello, fantasy ;
}
#name {
	margin-left:80px;
	margin-top:20px;
	color:#BC8F8F;
	font-family:Trattatello, fantasy ;
}
article {
	float:left;
	width:60%;
	margin-left:5%;
	margin-right:5%;
	background-color: #fafafa;
	min-height:400;
	border-radius:5px;
	border:1px solid silver;
	box-sizing:border-box;
	margin-top:50px;
	padding:10px;
}
#textStyles {
	min-height:5px;
	min-width:5px;
}
#photo11 {
	width:20px;
	height:10px;
}
#photo12 {
	width:20px;
	height:10px;
}
#photo13 {
	width:20px;
	height:10px;
}